.categories {
    width: 100%;
    padding-top: 149px;
    margin-top: 190px;
    border-top: 1px solid rgba(33, 56, 66, 0.0955529);
    &-title {
        max-width: 607px;
        font-weight: bold;
        @include responsive-font(36, 26);
        line-height: 46px;
        color: #4D533C;
        @media screen and (max-width: 1020px) {
            text-align: center;
        }
    }
    &-list {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 540px) {
            justify-content: center;
        }
    }
}
.list {
    padding: 27px 30px 36px 27px;
    @media screen and (max-width: 540px) {
        text-align: center;
    }
    
    .list-item {
        max-width: 194px;
    }
    .list__title {
        height: 68px;
        font-weight: 500;
        margin-bottom: 20px;
        @include responsive-font(24, 18);
        line-height: 34px;
        text-transform: uppercase;
        color: #4D533C;
    }
    .list__description {
        height: 134px;
        font-weight: normal;
        @include responsive-font(14, 12);
        line-height: 26px;
        color: rgba(33, 56, 66, 0.6);
    }
    .list__link {
        @include responsive-font(16, 14);
        line-height: 18px;
        text-decoration-line: underline;
        color: #FFD723;
    }
}

.categories-banner-wrap {
    display: inline-block;
    background: #FAFAFA;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
    transform: translateY(50%);
    @media screen and (max-width: 1020px) {
        width: 100%;
        display: block;
        display: flex;
        justify-content: center;
    }
}
.categories-banner {
    padding: 70px 290px 70px 165px;
    @media screen and (max-width: 1020px) {
        padding: 70px 10px 70px 10px;
        text-align: center;
    }
    &__title {
        @include responsive-font(60, 38);
        max-width: 700px;
        margin-bottom: 50px;
        font-weight: bold;
        line-height: 74px;
        color: #4D533C;
    }
    &__inner {
        @include responsive-font(16, 14);
        text-transform: uppercase;
        font-weight: bold;
        line-height: 18px;
        text-decoration-line: underline;
        color: #D4D6D4;
    }
}