.header {
    max-width: 100%;
    background-image: url(../images/header/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.menu-icon-link {
    &__image-min{
        display: none;
    }
    @media screen and (max-width: 540px) {
        &__image{
            display: none;
        }
        &__image-min{
            display: inline-block;
        }
    }
}
.menu-header {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-header {
    margin-top: 15vh;
    @media screen and (max-width: 1020px) {
        margin-top: calc(121 / 900 * 100vh);
        text-align: center;
        margin: 20vh auto;
    }
}


.menu-burger {
    width: 40px;
    height: 40px;
    cursor: pointer;
}