.object {
    margin-top: 110px;
    display: flex;
    justify-content: start;
    align-items: center;
    @media screen and (max-width: 1170px) {
        flex-direction: column;
        text-align: center;
    }
    .object-card {
        background-image: url(../images/object-block/JPG/img-01.jpg);
        background-size: cover;
        background-position: center center;
        width: 735px;
        height: 550px;
        margin-right: 96px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        @media screen and (max-width: 1170px) {
            margin-right: 0;
            margin-top: 50px;
            align-items: flex-start;
            justify-content: center;
        }
        @media screen and (max-width: 740px) {
            width: 100vw;
            height: 74.32vw;
        }
        @media screen and (max-width: 500px) {
            background: none;
        }

        .object-card-min {
            display: inline-block;
            padding: 30px;
            background-color: #fff;
            box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
            border-radius: 8px;
            transform: translate(35px, 65px);
            @media screen and (max-width: 1170px) {
                transform: translate(0px, -75px);
                box-shadow: -50px -50px 100px rgba(0, 0, 0, 0.145947);
            }
            @media screen and (max-width: 500px) {
                box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
            }
        }
        .card__description {
            max-width: 390px;
            margin-bottom: 24px;
            font-style: italic;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #4D533C;
        }
        .badge-image {
            width: 46px;
            height: 46px;
        }
        .badge-description__title {
            font-size: 16px;
            line-height: 24px;
        }
        .badge-description__subtitle {
            font-size: 14px;
            line-height: 21px;
        }
    }
    .content-object {
        margin-top: 25px;
        .content__title {
            margin-bottom: 35px;
            max-width: 325px;
            font-weight: bold;
            @include responsive-font(36, 26);
            line-height: 48px;
            color: #4D533C;
            @media screen and (max-width: 1170px) {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .content__description {
            max-width: 421px;
            font-weight: normal;
            @include responsive-font(16, 14);
            line-height: 26px;
            color: rgba(33, 56, 66, 0.6);
        }
        .content__description-margin {
            margin-bottom: 32px;
        }
    }
    .content__text-link {
        color: #D4D6D4;
    }
}

.object-inverse {
    justify-content: flex-end;
    padding-top: 125px;
    @media screen and (max-width: 1170px) {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .object-card {
        background-image: url(../images/object-block/JPG/img-02.jpg);
        margin-right: 0px;
        margin-left: 96px;
        justify-content: flex-start;
        .object-card-min {
            transform: translate(-35px, 65px);
            @media screen and (max-width: 1170px) {
                transform: translate(0px, -75px);
                box-shadow: -50px -50px 100px rgba(0, 0, 0, 0.145947);
            }
            @media screen and (max-width: 500px) {
                box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
            }
        }
        @media screen and (max-width: 1170px) {
            margin-right: 0;
            margin-left: 0;
            margin-top: 50px;
            align-items: flex-start;
            justify-content: center;
        }
        @media screen and (max-width: 740px) {
            width: 100vw;
            height: 74.32vw;
        }
        @media screen and (max-width: 500px) {
            background: none;
        }
    }

}

.object-margin-top {
    padding-top: 125px;
    .object-card {
        background-image: url(../images/object-block/JPG/img-03.jpg);
        @media screen and (max-width: 500px) {
            background: none;
        }
    }
    @media screen and (max-width: 1170px) {
        .content-object {
            order: -1;
        }
    }
}