doctype html
html(lang="en")
   head.page__head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="apple-touch-icon" sizes="180x180" href="./images/favicon_io/apple-touch-icon.png")
      link(rel="icon" type="image/png" sizes="32x32" href="./images/favicon_io/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="./images/favicon_io/favicon-16x16.png")
      link(rel="manifest" href="./images/favicon_io/site.webmanifest")
      link(rel="stylesheet", href="./css/style.min.css")
      title Webovio
   body.page__body
      include modules/header.pug
      include modules/services.pug
      include modules/treetop.pug
      include modules/object.pug
      include modules/categories.pug
      include modules/footer.pug
      script(src="js/main.min.js")